body {
	background-color: #262626;
	margin: 0 auto;
	font-family: sans-serif;
}

nav {
	padding: 20px;
	position: fixed;
  	top: 0;
}

ul.menu {
 	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	overflow: hidden;
   	background-color: #262626;
   	border-radius: 25px;
}

ul.menu li {
	float: right;
	margin-top: 32px;
	margin-right: 15px;
}

ul.menu li a, ul.menu a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.4s;
	font-size: 20px;
}

ul.menu .home {
	text-transform: uppercase;
	float: right;
}

ul.menu img {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 25px;
}

ul.menu li a:hover, ul.menu .home:hover {
	color: cyan;
}

ul.menu li.icon {
	display: none;
	font-size: 20px;
}

.container {

}

footer {
	background-color: yellow;
}

/*Media Stuff*/

@media screen and (max-width: 680px) {
	ul.menu li:not(:first-child) {display: none;}
	ul.menu li.icon {
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width: 680px) {
	ul.menu.responsive {position: relative;}
	ul.menu.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.menu.responsive li {
		float: none;
		display: inline;
	}
	ul.menu.responsive li a {
		display: block;
		text-align: left;
	}
}



